html,
body {
	display: flex;
	flex-direction: column;
	height: 100svh;
	box-sizing: border-box;
}
#sidebar h2,
#sidebar li p,
#sidebar ul,
#header h1,
html,
body {
	margin: 0;
	padding: 0;
}

#header h1,
#sidebar ul,
#sidebar h2 {
	padding: 10px;
}
#header {
	display: flex;
	color: rgb(236, 236, 236);
	align-items: center;
	background: linear-gradient(
		90deg,
		rgba(33, 147, 176, 1) 0%,
		rgba(109, 213, 237, 1) 100%
	);
	height: 60px;
}

.modal {
	z-index: 1;
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	transform: translate(-50%, -50%);
	background-color: red;
	height: 300px;
	width: 500px;
}

#mainContent {
	display: flex;
	flex: 1;
	overflow: auto;
}

#sidebar {
	background-color: rgb(230, 230, 230);
	width: 250px;
	height: 100%;
}

#sidebar ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
}

#sidebar li {
	transition: 0.3s;
	border-radius: 5px;
	background-color: rgb(240, 240, 240);
	padding: 10px;
	border: solid 1px rgba(33, 147, 176, 0);
}

#sidebar li:hover {
	transition: 0.3s;
	border: solid 1px rgba(33, 147, 176, 1);
	cursor: pointer;
}

#sidebar #addProjectBtn {
	text-align: center;
	font-weight: 700;
	font-size: 3rem;
	padding: 0;
}

.line {
	width: 100%;
	border-top: solid 1px rgba(0, 0, 0, 0.5);
}

.active {
	transition: 0.3s;
	background: linear-gradient(
		90deg,
		rgba(33, 147, 176, 1) 0%,
		rgba(109, 213, 237, 1) 100%
	);
}
